* {
  margin: 0;
  padding: 0;
  outline: 0 none;
  list-style:  none;
  text-decoration: none;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  position: relative;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-color: #ff00fe;
  background-repeat: no-repeat;
  background-blend-mode: luminosity;
  background-image: url('../image/background1.jpg');
}