%display-flex {
  display: flex;
}

%flex-center {
  @extend %display-flex;
  align-items: center;
  justify-content: center;
}

%flex-center-between {
  @extend %display-flex;
  align-items: center;
  justify-content: space-between;
}

$base_color: #ff00fe;